ResourceGroup=RG-videocogsearch
WebUIAppName=videocogsearchui
FunctionsAppName=videocogsearch
AMSAADTenantDomain="microsoft.onmicrosoft.com"
AMSRESTAPIEndpoint="https://videocogsearch.restv2.japanwest.media.azure.net/api/"
AMSClientId="7a5d73fx-f222-492c-8402-080f9b1557d1"
AMSClientSecret="c057e0cc-b4aa-4d68-a1ab-5996bfed9a5a"
AMSStorageAccountName="videocogsearchams"
AMSStorageAccountKey="6Bxx2+tUSFBi7GUXPXK4H/61ROzOp2/zb5J0icmwjoIW1WxsIXh2CK5cdC01P65Y9xaswBUJWmd0bd2+/tRqzw=="
SourceStorageConnection="DefaultEndpointsProtocol=https;AccountName=videocogsearch;AccountKey=4zxXaMlToK7vf8MM+92OtICF/iTlohmLAId9mtmifusKeeUqF53BBiTqaSy2dmgfvIZgZV9RJXPtMwBYVGuBw==;EndpointSuffix=core.windows.net"
CosmosDBAccountName="videocogsearch"
CosmosDBAccountKey="lpQV80xYd67D52dz0os4iH4qc9sDMQXrTEBjNY5ZxDKjY2IW3TpshS2ZXqV1WSqzxOeGjDfz9HEXadbczkATPRg=="
SourceStorageAccountName="videocogsearch"
SourceStorageAccountKey="44KjfaMlToK7vf8MM+92OtICF/iTlohmLAId9mtmifusKeeUqF53BBiTqaSy2dmgabcZgZV9RJXPtMwBYVGuBw=="
TranslatorAPIKey="1a99f56bfdb04ebc89a6549a178c1de4"
AzureSearchServiceName="videocogsearch"
AzureSearchAdminKey="BF205B6F596B205C00A978E92D96E12"
TextAnalyticsAPISubscriptionKey="571eeabcda164bf5832bd3644d4de34d"
SasTokenAPIEndpoint="https://videocogsearch.azurewebsites.net/api/get-sas-token"
SasTokenAPIKey="zwQ6aDsDvNvE/XDZheXuaZ7LXZXgJ1UT/bExSqXQMDSsKr9fXa/JZQ=="
VideoUploadEndpoint="https://videocogsearch.blob.core.windows.net/uploads"
