<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="index">
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" negate="true" pattern="!^/(css|js|api)" ignoreCase="true" />
                    </conditions>
                    <match url="^/?$" />
                    <action url="index.php" type="Rewrite" />
                </rule>
                <rule name="video">
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" negate="true" pattern="!^/(css|js|api)" ignoreCase="true" />
                    </conditions>
                    <match url="^video/(.*)" />
                    <action url="video.php?cid={R:1}" type="Rewrite" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
